.sidenav a{
	padding:20px;
	height:auto;
}

.side-nav{
	width: 200px;
}

#menutag{
	padding-left: 20px;
}

#menurow{
	padding-left:30px;
	padding-right: 30px;
}

.loginarea{
	float:right;
	padding-right: 80px;
}

.modalitem{
	padding-left: 20px;
}

#modalquantity{
	margin-left: 10px;
}

.main-layout {
	margin-left: 50px;
}

.cardheader {
	padding: 20px;
}
