::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color:#424242;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:#424242;
	opacity:1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:#424242;
	opacity:1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color:#424242;
}

.login-background{ 
  background: url("login-wallpaper.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-height: 100%;
  max-width: 100%;
  left: 0;
  right: 0;
  position: fixed;
}

.home-background{ 
	background: url('background.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	min-height: 100%;
	max-width: 100%;
	left: 0;
	right: 0;
	position: absolute;
}

.blur-wrapper{
	opacity: 0.3;
	background: black;
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	position: fixed;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 0px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 1;
}

.mtop50{
	margin-top: 50px;
}

.mtop100{
	margin-top: 100px;
}

.header{
	background: black;
	padding: 10px 20px;
	position: fixed top left;
	width: 100%;
	height: 75px; 
}

.wrapper{
	margin-top: 20%;
	margin-bottom: 0px;
}

.home-layout form {
	color: white;
	width: 400px;
	margin: 0 auto;
	padding: 20px;
}	

.basket form {
	color: black;
	width: 500px;
	margin: 0 auto;
	padding: 10px;
}	

.newdish form {
	width: 400px;
}

#createBasket{
	margin-left: 100px;
}

#newBasket {
	color: white;
	font-weight: 500;
	width: 600px;
	margin: auto;
	margin-top: 10px;
}

/*.control-label{
	color: white;
	font-size: 20px
}
*/
.sidenav a{
	padding:20px;
	height:95px;
}

.side-nav{
	width: 230px;
}

#logout{
	color:black;
	height:63px;
	padding:5px;
	width: 115px;
	text-align:center;
	background-color: #37474f;
}

nav{
	background-color: black;
}

#menutag{
	padding-left: 20px;
}

#menurow{
	padding-left:30px;
	padding-right: 30px;
}

.loginarea{
	float:right;
	padding-right: 80px;
}

.modalitem{
	padding-left: 20px;
}

#modalquantity{
	margin-left: 10px;
}

.main-layout {
	margin-left: 50px;
}

.cardheader {
	padding: 20px;
}

#item, #qty, #price, #bin {
	display: inline;
	/*font-size: 100%;*/
}
#bin {
	font-size: 90%
}
#price {
	float: right;
}

#mine {
	color: blue;
}

#select, #copyBtn {
	display: inline-block;
}

.form-control{
	display: inline;
	color:white;
}

input[type=email] {
	color: black;
}

input[type=password] {
	color: black;
}

input[type=text] {
	color: black;
}

input[type=number] {
	color: black;
}

input[name=reservationDate] {
	color:black;
}

input[name=numPax] {
	color: black;
}

select[name=reservationTime] {
	color: black;
}

.control-label{
	color: #9e9e9e ;
}

input[name=price], input[name=name],input[name=desc], input[name=images], input[name=quantity], input[name=specialRequest], input[name=email] {
	color: black;
}


.center {
	text-align: center; 
	margin-left: auto; 
	margin-right: auto; 
	margin-bottom: auto; 
	margin-top: auto;
}

.tooltip {
    position: relative;
    display: inline-block;
   
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

