<template name="topNav">
	<p style="float:right" data-step='1' data-intro='Welcome to openjio! This quick tutorial will nagivate you through our features!'></p>
	<p data-step='2' data-intro="Click on the side nav bar and go to create basket. Create an order with the specified date, time and number of people" style="float:left"></p>
	<div class="container">
		{{#if isUser}}
		{{#if hasOrder}}
		<div class="input-field col s10 offset-s1">
			<h6><b>Reservation Timings</b></h6>
			<div class="form-group">
				<select id="select">
					{{#each findOrder}}
					{{#if match}}
					<option value = "{{_id}}" selected="selected">Date: {{findCurrentDate}} | Time: {{findCurrentTime}}</option>
					{{else}}
					<option value = "{{_id}}">Date: {{findDate}} | Time: {{findTime}}</option>
					{{/if}}
					{{/each}}
				</select>
			</div>
		</div>
		{{else}}
		<div class="col s10 offset-s1">
			<br>
			<div class="form-group">
				<ul class="tabs">
					<li class="tab"><a style="color:black; text-align:center">You have no reservations</a></li>
				</ul>
			</div>
		</div>
		{{/if}}
		{{/if}}
		<div class="col s10 offset-s1">
			<br>
			<ul class="tabs">
				<li class="tab col s3"><a class="active" href="/menu" style="color:#003370">Dim Sum</a></li>
				<li class="tab col s3"><a href="/mongkokCongee" style="color:#003370">Congee</a></li>
				<li class="tab col s3"><a href="/sushi" style="color:#003370">Sushi</a></li>
				<li class="tab col s3"><a href="/drinks" style="color:#003370">Drinks</a></li>
			</ul>
			<br>
		</div>
	</div>
</template>

